// Заголовки, общие БЄМ блоки и проче...
.page {

    // .page__main

    &__main {}
}
//====================================================================================================
.title {

    &__lable {
        text-transform: uppercase;
        font-family: 'Inter';
        font-weight: 500;
        font-size: rem(12);
        line-height: 2; // line-height / font-size = частини (24 / 12 = 2)
        letter-spacing: em(7.5, 12); // 12 - fz
        color: $grayColor;
        display: flex;
        align-items: center;
        gap: rem(16);

        &::before {
            content: '';
            width: rem(16);
            height: rem(2);
            background-color: #D9D9D9;
        }

        &:not(:last-child) {
            margin-bottom: em(8, 12);
        }

    }


    &__value {
        font-family: 'Plus Jakarta Sans';
        font-weight: 700;
        font-size: rem(36);
        line-height: 1.25;
        color: $mainColor;

        span {
            color: $purpleColor;
        }

        &_big {
            font-size: rem(44);
            line-height: math.div(55, 44);
        }
    }
}
//====================================================================================================
.text {
    line-height: math.div(32, 16);  
    p {
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
}
//====================================================================================================

.social {
    color: $mainColor;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: rem(5);
    @include adaptiveValue("column-gap", 34, 15);

    &__link {
        font-size: rem(22);
        transition: color 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor
            }
        }
    }
}